<h1><%= @coffee_shop.name %><h1>
  <h4>Year opened: <%=@coffee_shop.open_year %></h4>
  <h4>Open after 5pm: <%= @coffee_shop.open_after_five %></h4>
  <h4>Number of drinks on menu: <%= @coffee_shop.countdrinks %></h4>
