<% @drinks.each do |drink|%>
  <h4><%= drink.name %></h4>
  <p>Price: $<%= drink.price%></p>
  <p>Hot Drink: <%= drink.hot_drink%></p>
<% end %>
<%= link_to 'New Drink', "/coffee_shops/#{CoffeeShop.ids.last}/drinks/new" %>